name: Build DLL

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    packages: write
    contents: write

concurrency:
    group: "build"
    cancel-in-progress: true

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build
              run: ./scripts/Build.ps1 -Clean
            - name: Upload artifact
              uses: actions/upload-artifact@v6
              with:
                  path: ./build/output
            - name: Create a Release
              uses: ncipollo/release-action@v1
              with:
                  artifacts: "build/output/*"
                  name: "${{github.event.head_commit.timestamp}} - ${{github.sha}}"
