name: Build DLL

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    packages: write
    contents: write

concurrency:
    group: "build"
    cancel-in-progress: true

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build
              run: ./scripts/Build.ps1 -Clean
            - name: Upload artifact
              uses: actions/upload-artifact@v6
              with:
                  path: ./build/output
            - name: Create a Release
              uses: elgohr/Github-Release-Action@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  title: "${{github.event.head_commit.timestamp}} - ${{github.sha}}"
                  workdir: ./build/output
