name: Build DLL

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read

concurrency:
    group: "build"
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y cmake g++ make  # Or clang++, adjust as needed

            - name: Configure CMake
              run: |
                mkdir build
                cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

            - name: Build
              run: |
                cmake --build build --config Release

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./build/output