name: Build DLL

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read

concurrency:
    group: "build"
    cancel-in-progress: true

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build
              run: |
                cmake --build build --config Release

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./build/output